.party-not-found {
  background: black center center url("/not-found.jpg") no-repeat;
  background-size: cover;

  .content {
    text-align: center;
  }

  h1 {
    text-align: center;
    color: white;
    font-weight: normal;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  .footer {
    padding-bottom: 1em;
  }
}
