.modal-background {
  visibility: hidden;
}

.modal-background-custom {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  .modal-x {
    scale: 1.5;
    opacity: 0.7;
    color: #fff;
    position: fixed;
    top: 16px;
    right: 16px;

    @include mobile {
      visibility: hidden;
    }

    &:hover {
      opacity: 1;
    }
  }

  .modal-content,
  .modal-card {
    margin: 0;
  }

  .modal-card {
    max-width: calc(100vw - 60px);
    box-shadow: 0 0 140px rgba(0, 0, 0, 1);
    background-color: white;
    border-radius: 10px;

    @include mobile {
      max-width: calc(100vw - 32px);
    }
  }

  .modal-card-body {
    font-size: 1.25rem;
  }

  .modal-card-head {
    background: transparent;
    border-bottom: none;
    font-size: 2rem;
    text-shadow: 0 1px 2px white;

    color: #000;
  }

  .modal-card-foot {
    background: transparent;
    border-top: none;
    justify-content: flex-end;

    @include mobile {
      flex-direction: column-reverse;
      gap: 1em;
      align-items: stretch;
    }

    .button {
      @include mobile {
        margin: 0;
      }
    }
  }

  .delete {
    visibility: hidden;
  }
}

.party-box .modal-card .modal-card-head {
  background: transparent url("/flags.png") top right no-repeat;
  background-size: 50%;
}

body:has(.modal) {
  position: fixed;
  height: 100vh;
  overflow-y: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
