.modal-background {
  visibility: hidden;
}

.modal-background-custom {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  .modal-x {
    scale: 1.5;
    opacity: 0.7;
    color: #fff;
    position: fixed;
    top: 16px;
    right: 16px;

    @include mobile {
      visibility: hidden;
    }

    &:hover {
      opacity: 1;
    }
  }

  .modal-content,
  .modal-card {
    margin: 0;
  }

  .modal-card {
    max-width: calc(100vw - 60px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 20px;

    @include mobile {
      max-width: calc(100vw - 32px);
    }
  }

  .modal-card-body {
    font-size: 1.25rem;
  }

  .modal-card-head {
    background: transparent;
    border-bottom: none;
    font-size: 2rem;
    text-shadow: 0 1px 2px white;

    color: #000;

    @include mobile {
      font-size: 1.5rem;
    }
  }

  .modal-card-foot {
    background: transparent;
    border-top: none;
    justify-content: flex-end;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    @include mobile {
      flex-direction: column-reverse;
      gap: 1em;
      align-items: stretch;
    }

    .button {
      @include mobile {
        margin: 0;
      }
    }
  }

  .delete {
    display: none;
  }
}

.party-box .modal-card .modal-card-head {
  background: transparent url("/flags.png") top right no-repeat;
  background-size: 50%;
}

.confirm-party-close {
  .modal-card {
    background: white right bottom url("/rockenroll.png") no-repeat;
    background-size: 55%;

    @include mobile {
      background-size: 80%;
    }
  }

  .modal-card-head {
    justify-content: center;
  }

  .modal-card-body {
    background-color: transparent;
  }

  .content {
    margin: 1em 6em 3em 3em;

    strong {
      text-decoration: underline;
    }

    @include mobile {
      margin: 0 2em 0 0;

      text-align: left;
      text-shadow: 1px 1px 2px white;
    }
  }

  .button {
    background-color: rgba(#fff, 0.7);
    transition: all 0.2s;

    &:hover {
      background-color: #fff;
      transition: all 0.2s;
    }

    &.is-primary {
      background-color: rgba(#5fceb3, 0.95);
      text-shadow: 1px 1px 1px rgba(#000, 0.4);

      &:hover {
        background-color: #5fceb3;
      }
    }
  }
}

.confirm-party-leave {
  .modal-card-head {
    justify-content: center;
  }

  .content {
    margin: 1em 2em 2em 1em;
  }
}

.congratz-box {
  .modal-card {
    background: white url("/congratz.png") bottom center no-repeat;
    background-size: 100%;
    height: 550px;
    text-shadow: 0 -1px 0 white, -1px 0px 0 white, 0 1px 0 white, 0 0 3px white;
    position: relative;
  }

  .modal-card-head {
    justify-content: center;
  }

  .modal-card-body {
    background-color: transparent;

    .content {
      padding: 0 140px;
      color: #000;

      @include mobile {
        padding: 0 20px;
      }

      h1 {
        color: #000;
        text-align: center;
        font-size: 3rem;
        margin: 0.5em 0 1em;
        letter-spacing: 0.2em;
        text-align: center;
        border-radius: 10px;
        font-weight: 500;
        text-shadow: 1px 1px 1px rgba(#fff, 1);
        -webkit-text-stroke: #fff 1px;
      }
    }
  }

  .modal-card-foot {
    justify-content: center;

    .button {
      border: 2px solid #fff;
      text-shadow: 0 1px 2px rgba(#fff, 0.6);
      box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
      border: 2px solid white;
    }
  }
}
