.field {
  &:not(:last-child) {
    margin-bottom: 1em;
  }

  .label {
    text-align: left;
    margin-bottom: 5px;
  }

  input {
    font-family: "Cuprum", sans-serif;
    font-size: 1.2em;

    @include mobile {
      font-size: 1rem;
    }
  }

  .help {
    font-size: 0.8em;
  }

  &.is-horizontal {
    .label {
      font-weight: 600;
      font-size: 1em;
      line-height: 48px;
      min-width: 150px;
      text-align: right;
      margin-right: 16px;

      @include mobile {
        text-align: left;
        line-height: 1.2rem;
      }
    }

    .field-body {
      flex-direction: column;
    }
  }

  .field-body {
    flex-direction: column;

    .help {
      text-align: left;
    }
  }
}
