.gnome-says {
  &.message {
    background: transparent 1em center url("/gnome.png") no-repeat !important;
    background-size: contain !important;
    min-height: 550px;
    display: inline-flex;
    align-items: center;

    @include mobile {
      min-height: 450px;
    }

    &.cupignome {
      background-image: url("/cupignomik.png") !important;
    }

    &.cupid {
      background-image: url("/cupid.png") !important;
    }
  }

  .message-body {
    background-color: #f7f7c6;
    border: none;
    border-radius: 10px;
    position: relative;
    font-size: 0.9em;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin-top: -40ch;
    margin-left: 160px;
    margin-right: 20px;
    font-size: 1.2rem;

    @include mobile {
      margin-left: 110px;
    }

    .content {
      padding: 1.25em;
      max-width: 300px;

      strong {
        text-shadow: 1px 1px 2px #fff;
        font-weight: 700;
        font-size: 1.1em;
      }
    }

    button {
      border: 1px solid rgba(#fff, 0.7);
      box-shadow: 1px 1px 4px rgba(#000, 0.2);

      &:hover {
        border: 1px solid #fff;
      }
    }
  }

  .message-body::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 30px;
    width: 0;
    height: 0;
    border: 1em solid transparent;
    border-top-color: #f7f7c6;
    border-bottom: 0;
    border-left: 0;
    margin-bottom: calc(-1em + 1px);
  }
}
