.party-details {
  background: #e2e6e7 url("/party-background.jpg") right top no-repeat;
  background-size: cover;
  color: black;
  text-shadow: 0 2px 4px white;

  .party-details-content {
    text-align: justify;
    font-size: 1.5em;
    margin-bottom: 2em;

    @include mobile {
      text-align: left;

      .confetti-button {
        display: none;
      }
    }

    @include tablet {
      .confetti-button {
        display: none;
      }
    }

    @include desktop {
      .confetti-button {
        display: block;
      }
    }
  }

  .footer {
    color: black;
    text-shadow: 0 2px 4px white;

    a {
      color: #000;
      text-shadow: 0 2px 4px white;
    }
  }
}

.join-container {
  background: #141414 url("/party-garage-door-3.jpg") center center/cover;

  .grinch-box {
    .card {
      background-color: rgba(#141414, 0.9);
    }
  }

  .hero-foot {
    color: #efefef;

    a {
      color: #efefef;

      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }
}
