.party-details {
  background: #e2e6e7 url("/party-background.jpg") right top no-repeat;
  background-size: cover;
  color: black;
  text-shadow: 0 2px 4px white;

  .party-details-content {
    text-align: justify;
    font-size: 1.5em;
    margin-bottom: 2em;

    @include mobile {
      text-align: left;

      .confetti-button {
        display: none;
      }
    }

    @include tablet {
      .confetti-button {
        display: none;
      }
    }

    @include desktop {
      .confetti-button {
        display: block;
      }
    }
  }

  .footer {
    color: black;
    text-shadow: 0 2px 4px white;

    a {
      color: #000;
      text-shadow: 0 2px 4px white;
    }
  }
}

.join-container {
  background-color: #ffffff;
  background-image: url("/party-garage-door-3.jpg");
  background-size: cover;
  background-position: center center;

  .card {
    display: inline-block;
    padding: 3em 2em;
    border-radius: 20px;
    background-color: rgba(#000, 0.7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    position: relative;

    img {
      position: absolute;
      margin-left: -125px;
      margin-top: -200px;
      left: 50%;

      @include mobile {
        position: relative;
        margin: 0;
        left: unset;
        width: 200px;
      }
    }

    h2 {
      margin: 2em 0 2em;

      @include mobile {
        margin-top: 0;
        font-size: 1.5em;
      }
    }
  }

  .login-button {
    background-color: rgba(#d92f33, 0.8);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    border: 3px solid #f4bb9a;
    font-size: 1.5em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

    @include mobile {
      font-size: 1.2em;
    }

    &:hover {
      background-color: #d92f33;
      border: 2px solid white;
    }

    &:disabled {
      background-color: rgba(#d92f33, 0.8);
      border: 3px solid #f4bb9a;
    }
  }

  .hero-foot {
    color: #efefef;

    a {
      color: #efefef;

      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }

  h2 {
    color: white;
    margin-bottom: 1em;
    font-size: 2rem;
    text-shadow: 0 0 40px black;
  }
}
