---
import Bulma from "react-bulma-components";

import Layout from "src/layouts/BaseLayout.astro";
import { Footer } from "src/components/Footer";
import { UnsplashCredit } from "src/components/UnsplashCredit";

import "src/styles/404.scss";
---

<Layout title="Party not found">
  <Bulma.Hero size={"fullheight"} className="party-not-found">
    <Bulma.Hero.Body>
      <Bulma.Container>
        <Bulma.Content>
          <h1>
            &mdash; Houston, we have a problem! There's no party here!<br />I
            repeat, code FOUR-OH-FOUR... FOXTROT-UNIFORM-CHARLIE-KILO...
          </h1>
          <p>
            <a
              href="/"
              class:list={["button", "is-medium", "is-white", "is-outlined"]}
            >
              Go back to the Earth
            </a>
          </p>
        </Bulma.Content>
      </Bulma.Container>
    </Bulma.Hero.Body>
    <Bulma.Hero.Footer>
      <Footer>
        <UnsplashCredit nickname="nasa" name="NASA" />
      </Footer>
    </Bulma.Hero.Footer>
  </Bulma.Hero>
</Layout>
