---
import "src/styles/global.scss";

interface Props {
  title?: string;
  pageClassNames?: string[];
}

const { title, pageClassNames } = Astro.props;
---

<!doctype html>
<html class:list={pageClassNames}>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>
      {[title, "Anonymous Ded Mororzes"].filter(Boolean).join(" | ")}
    </title>
  </head>
  <body>
    <slot />
  </body>
</html>
